.dashContainer{
    margin:20px;
}
.welcome-message{
    font-size:20pt;
}
.add-Client-link{
    display:flex;
    margin: 2px 0px;
    border:grey solid 2px;
    border-radius:5px;
    box-shadow:2px 2px 20px  rgba(0, 0, 0, 0.233);
}
.add-Client-link:active{
    background-color:rgba(175, 168, 191, 0.5);
}
.link-add{
    width: 100%;
    display:flex;
    text-align:center;
    align-content: center;
    justify-content: center;
    padding:5px;
    color:gray;
    
}
.add-div{
 width:30px;
 height:20px;
 padding:5px;
 text-align:center;
 color:gray;
 border-right:grey 2px solid;
}
