.nav-bar-wrapper{
    display:flex;
    justify-content:space-between;
    width: 80vw;
    margin:30px;
}

.nav-title{
    font-size:20pt;
    /* gonna be a logo */
}
.nav-link-container{
    display:flex;
    justify-content: space-evenly;
    align-items:center
}
.nav-link > a{
    text-decoration: none;
    text-emphasis: none;
    color: black;
    padding:10px;
}
