*{
    margin:0;
    padding:0;
}
@font-face{
    font-family:"spartan-normal";
    src: url('./fonts/SpartanMB-Regular.otf');
}
@font-face {
    font-family: "spartan-Bold";
    src: url('./fonts/SpartanMB-Bold.otf');
}
@font-face {
    font-family: "spartan-SemiBold";
    src: url('./fonts/SpartanMB-SemiBold.otf');
}

.app-container{
    height:100%;
    background-image: linear-gradient( rgb(45, 100, 250), rgb(30, 203, 255));
    font-size:10pt;
    font-family:"spartan-normal";
    color:rgba(255, 255, 255, 0.918);
}

.header-container{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items:center;
    padding:30px 15px;
}
.fas:hover{
    font-size: 20pt;
    transition: 0.5s;
}

.header {
    font-size:15pt;
    text-decoration: none;
}
.header:hover {
   
    color: rgb(255, 255, 255);
    font-size: 20pt;
}

.nav-bar{
    display:flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.692);

}
.linking{
    text-decoration: none;
    font-size: 7pt;
    text-shadow: none;
    color:rgba(255, 255, 255, 0.692);
    margin:3px 5px;
}

.linking:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.918);
    font-size: 10pt;
}

.home{
    display: flex; 
    color:rgba(255, 255, 255, 0.918);
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.home >h3 {
    padding:20px 50px;
}

.currancyform{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: space-evenly;
    text-align: center;
}

.currancyform > input {
   height: 50px;
   width: 70%;
   border-radius: 4%;
   text-align:end;
   font-size: 20pt;
   color: rgb(74, 73, 73);
   margin:10px 0px;
   background-color: rgba(255, 255, 255, 0.918);
}
::placeholder{
    color: rgb(74, 73, 73);
}
.country-selecter{
    height: 50px;
    width: 28%;
    margin:10px;
    font-family: "spartan-SemiBold";
    color: rgb(74, 73, 73);
    text-align: center;
    font-size: 20pt;
    border-radius: 4%;
    background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
    background-color: rgba(255, 255, 255, 0.918);
    appearance: none;
}
.mobile-form{
    width:100%;
    margin:10px 0px; 
}

.submit{
    background-color:rgb(224, 223, 119);
    color:rgba(0, 50, 189, 0.76);
    font-size:20pt;
    font-family: "spartan-SemiBold";
    height: 50px;
    width: 70%;
    border-radius:25px ;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.493);
    margin:30px 0px;
}
.sumbit:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.493);
}
.submit:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    /* transition: 0.5s; */
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 20px;
    right: 6px;
    font-size: .7em;
    background: green;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}


.save{
    margin:10px ;
    background-color:rgb(224, 223, 119);
    color:rgba(0, 50, 189, 0.76);
    font-size:20pt;
    font-family: "spartan-normal";
    height: 40px;
    width: 70%;
    border-radius:25px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.493);
    text-align: center;
}
.save:active{
    background-color:rgb(206, 204, 100);
    box-shadow: 0 5px #666;
     box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.493);
    transform: translateY(4px);
}

.returned-results{
    margin:10px 0px 30px;
    display:flex;
    flex-direction: column;
    text-align: center;

}
.returned-results > h4 {
    margin:3px; 
    text-align: center;
}

.about{
   display:flex;
   flex-direction: column;
   align-items: center;

}
.article > h2 {
    text-align: center;
    margin:10px;
    font-family: "spartan-Bold";
}
.article > p {
    font-family: "spartan-normal"; 
    padding:10px 20px;
    
}
.article{
    margin:10px;
    align-content: center;
    width:80%;
    border-radius:10px;
    border:white solid 2px;
    font-size: 15pt;
    height:80%;  
}


.saved-rates-container {
    height:78vh;
  
}

.saved-it-true{
    color:blue;
    font-size:10pt;
    animation: opacityOn  forwards ;
    animation-delay: 2s;

}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.saved-it-false{
    display:none;
}
.saved-rates-container > h1 {
    margin: 40px;
    text-align:center;

}

.list-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    font-size:10pt;
    align-items: center;
    
}
.exchanged {
    display: flex;
    flex-direction: column;
}

.saved-country {
    background-color: rgba(255, 255, 255, 0.918);
    padding: 10px 20px;
    height:50%;
    border-radius: 15px;
    font-size:15pt;
    width:10%;
    font-family: "spartan-SemiBold";
    text-align: center;
}


.footer{
    height:15%;
    display:flex;
    justify-content: flex-end;
}
.scale-label{
    margin:40px 20px;
    display:flex;
    font-family: "spartan-Bold";
    justify-content: center;
    align-items: center;
}
.delete-button >button {
    padding:3px;
    background: none;
	border: none;
	font: inherit;
    color:rgba(255, 255, 255, 0.411);
}
.scale {
    border-radius: 10px;
     display:flex;
     height:30px;
     width: 150px;
    background-image: linear-gradient(to right, green,yellow, red);
     margin:0px 10px;
}



span{
    margin:2px;
    padding:1px;
    border-radius:10px;
   
}
.dark-green{
    background-color: darkgreen;
    
}
.green{
    background-color: rgb(0, 208, 0);
    
}
.yellow{
    background-color: #E6BA1C;
}
.orange{
    background-color: #C76718;

}
.red{
    background-color: red;
}

@media only screen and (min-width: 600px){
    .linking {
       font-size: 10pt;
       padding:8px;
    }
    .list-container {
      font-size:15pt; 
    }
    .badge[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        top: 30px;
        right: 10px;
    }

}

@media only screen and (min-width: 950px){
    .home{
        height:85vh;
    }
    .header {
        font-size: 25pt;
        text-decoration: none;
        transition: 0.5s;
    }

    .header:hover {
        color: rgb(255, 255, 255);
        font-size: 30pt;
    }

    .app-container{
   background-image: linear-gradient(to right, rgb(45, 100, 250), rgb(30, 203, 255));
       
    
    } 
    .header-container > h1{
        font-size:30pt;
    }

    .currancyform{
        flex-direction: row; 
        width:80%;
}
.home{
    font-size: 15pt;
}
 .linking{
       font-size: 10pt;
       padding:8px;
    }
.country-selecter{
    font-size: 24pt;
}
.about{
   display:flex;
   flex-direction: row;
   align-items: start;
   height:78vh;
   justify-content:center;
    align-items: center;

}

.article > h2 {
    text-align: center;
    margin:5px;
    font-family: "spartan-Bold";
}
.article > p {
    font-family: "spartan-normal"; 
    padding: 5px 10px;
    
}
.article{
    display:flex;
    flex-direction:column;
    margin:5px;
    align-content: center;
    justify-content:center;
    width:80%;
    border-radius:10px;
    border:white solid 2px;
    font-size: 10pt;
    height:400px;  
    align-items: center;
    
}
.currancyform > input {
   height: 50px;
   width: 25%;
}
span{
    margin:2px;
    padding:3px;
    border-radius:10px;
}


}


