*{
    margin:0;
    padding:0;
}
.app-container{
    height:100vh;
    background-color: lightgray;
    font-size:20pt;
}

.header-container{
    display:flex;
    justify-content: space-between;
    background: #333;
    height:10%;
    justify-items: center;
    align-items:center;
    color: rgb(159, 167, 237);
    text-shadow: 3px 3px 9px;
}

.currancyform > input {
   height: 100px;
   width: 200px;
   background-color:rgb(179, 177, 177);
   border-radius: 4%;
   border: rgb(148, 147, 147) solid 2px;
   text-align: center;
   font-size: 24pt;
   color: rgb(74, 73, 73);
}
::placeholder{
    color: rgb(74, 73, 73);
}

a{
    margin:10px;
    text-decoration: none;
    color:rgb(76, 92, 238);
    font-size: 15pt;
    text-shadow: none;
}

.home{
    display:flex;
    flex-direction: column;
    height:80vh;
    width:100%;
    background:rgb(174, 166, 166);
    justify-content: space-around; 
    align-items: center ;
}
.returned-results{
    display:flex;
    flex-direction: column;
    text-align: center;
    color:rgb(76, 92, 238);
}
.currancyform{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

select{
   height: 100px;
   width: 200px;
   border: rgb(148, 147, 147) solid 2px;
   background-color:rgb(179, 177, 177);
   border-radius: 4%;
   text-align: center;
   font-size: 24pt;
   color: rgb(74, 73, 73);
}
.submit{
    color:rgb(76, 92, 238);
    font-size:24pt;
    border: rgb(159, 167, 237)solid 2px;
    background-color: rgb(159, 167, 237);
    width:400px;
    height:80px;
    border-radius:2%;
    box-shadow: 10px 10px 10px rgba(76, 92, 238, 0.612);

}

.save{
    display:flex;
    align-self: flex-end;
    color:rgb(76, 92, 238);
    font-size:20pt;
    border: rgb(159, 167, 237)solid 2px;
    background-color: rgb(159, 167, 237);
    margin:0px 90px 0px 0px;
    width:150px;
    text-align:center;
    justify-content: center;
    border-radius:2%;
    box-shadow: 10px 10px 10px rgba(76, 92, 238, 0.612);
}

.list-container{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    margin:10px;
}
.saved-country{
    border: rgb(148, 147, 147) solid 2px;
    padding:4px;
}

.about{
   background:rgb(174, 166, 166);
   height:80vh;
   display:flex;
   align-items: center;

}
.article > h2 {
    text-align: center;
    margin:10px;
    color:rgba(76, 92, 238, 0.728);
}
.article > p {
    margin:20px 0px;
    color:rgb(79, 79, 79);
    padding:0px 30px;
}
.article{
    margin:20px;
    align-content: center;
    width:33%;
    border-radius:3px;
    border:rgb(76, 92, 238)solid 2px;
    font-size: 15pt;
    height:80%;  
}
.saved-rates-container{
    height:80vh;
    background:rgb(174, 166, 166);
}

.footer{
    height:15%;
    background-color:rgb(57, 54, 54);
    display:flex;
    justify-content: flex-end;
}
.scale-label{
    margin:0px 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.delete-button >button {
     border: rgb(181, 180, 180) solid 2px;
     border-radius: 100%;
     font-size:16pt;
     padding:3px;
     background-color:rgb(203, 200, 200);
     color:rgb(152, 148, 148);
}
.scale {
    border:black solid 3px;
     display:flex;
     height:50%;
     margin:0px 10px;
}

.box{
    height: 100%;
    width: 30px;
}
.dark-green{
    background-color: darkgreen;
}
.green{
    background-color: rgb(0, 208, 0);
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: rgb(247, 166, 15);

}
.red{
    background-color: red;
}

