.profileTab-container{
    /* border:rgba(90, 54, 140, 0.527) solid .5px; */
    box-shadow:rgba(117, 99, 141, 0.568) 5px 5px 5px;
    border-radius: 5px;
    padding:5px;
    margin:30px 10px;
}
.client-img{
    width:50px;
    height: 50px;
    border-radius: 100%;
    margin:5px;
    box-shadow: 2px 2px 2px;
}
.basic-client-info{
    display:flex;
}
.profile-code{
    position: fixed;
    right: 50px;
    display: flex;
    justify-items: flex-start;
    align-content: flex-start;
    color:grey; 
}
.client-info{
margin:10px;
}

.profile-icons{
    display:flex;
    justify-content: space-evenly;
}
.profile-icons>a{
    color:#5A368C;
    font-weight: bold;
    text-decoration: underline;
}
.p-icon {
    height:20px;
    width:20px;
    border-radius:10px;
}
.p-icon>a{
    color:#5A368C;
}
