.container{
    background:rgb(204, 204, 204);
    height: 100%;
    width: 100%;
}
header{
    background: black;
    color:red;
    height: 20%;
    width: 100%;
    font-size: 3em;
    text-align: center;
}
p{
    color:blue;
}