@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin:0;
    background-color:#F2F2F2;
    padding:0;
    font-family: 'Montserrat',sans-serif;
}
a{
    text-emphasis: none;
    text-decoration:none;
    color:black;  
}