.one {
  background-color: aqua;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.two {
  background-color: darkcyan;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.three {
  background-color: darkblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
