
.auth-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form{
    display: flex;
    flex-direction: column;
}
.user-type-container{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
    margin: 10px 0px;
}
.user-type{
    border:#5A368C 2px solid;
    padding: 10px;
    width:30vw;
    text-align:center;
    border-radius:5px;
    margin:5px;
}
.not-selected{
    background-color:#F2F2F2;
}
.selected{
    background-color:#AFA8BF;
}
.auth-input{
    height: 10vh;
    border-bottom:solid black 2px;
    align-items:flex-end;
    border-top:none;
    border-right:none;
    border-left:none;
    font-size:20pt;
}
.student-code{
    width:30%;
}
.remember-text{
    font-size: 5pt;
    margin:2px;
    color:#5A368C;
}
.remember-switch {
    margin:20px 0 0 0 ;
    position: relative;
    display:flex;
    width: 75px;
    height: 28px;
}
.no-input{
    opacity: 0;
    width: 0;
    height: 0; 
}
.slider {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color:#5A368C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5A368C;
}

input:checked+.slider:before {
    transform: translateX(45px);
}
.auth-button{
    margin:30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:10pt;
    border:rgba(0, 0, 0, 0) solid 2px;
    border-radius:20px;
    padding:5px;
    color:#F2F2F2;
    background-color:#5A368C;
    box-shadow:6px 6px 10px #5A368C;
    
}
.auth-button:active{
    box-shadow:2px 2px 5px rgb(74, 44, 116);
}
    
    

            

                
