* {
    /* box-sizing: border-box;  */
    margin:0;
}


/*#74A0B3
 #D9F4FF  
 #BFECFF 
 #B38D62 #8A6D4C 
 #FFE1BF #D6BDA1 
*/


/* <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet"> */


body{
    height:1000px;
    font-family: 'Poiret One', cursive;
    
}

.container {
    background-color: #D9F4FF;
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5% auto auto auto 5%;
    grid-template-areas: 
        "n n n n n n n n n n n n"
        "s s s m m m m m m m m m"
        "f f f f f f f f f f f f";
}





.nav{
    grid-area: n;
    background-color:#A1C6D6;
    display:flex;
    justify-content: space-between;
}

h1{
    padding:10px;
    text-align:center;
}

#maetheme{
    font-family: 'Shadows Into Light', cursive;
    text-decoration: overline;
    color:  #8A6D4C;
    margin:auto 6px;
}
ul{ 
    padding:0;
    display:flex;
    align-items:center;
  
}
#menu{
    height: 20px;
    widows: 20px;
    background:#A1C6D6;
    margin:5px;
}
li{
    display:none;
    padding:4px;
}
.sideBar{
    grid-area: s;
    background-color:#5A7B8A;
    display: flex;
    justify-content: center;
   

}
.sideBarArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.sideBarArticle > header{
    font-size:1.5em;
    text-align: center;
    padding:2px;
}

.profile{
    height:60px;
    width: 60px;
    
    border-radius: 100%;
    background-size: cover;
    background-image: url("./images/00100sPORTRAIT_00100_BURST20190529182449373_COVER.jpg")
}

.webSideBar{
    display:none;
}
.mainContent{
    grid-area: m;
    background-color: #D6BDA1; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.sectionTitle{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;

}
.figures{
    display:flex;
    background-color:#BFECFF;
    margin:0;
    height:100%;
    justify-content: center;
    width: 100%;
    align-items: center;

}
figure {
    display:flex;
    height: 100%;
    width: 100%;
    justify-content: center;
     align-items: center;
     flex-direction: column;
}

.images{
    margin:5px;
    height:60%;
    width: 60%;
    /* background-size: cover; */
 } 


.footer{
    grid-area: f;
    background-color:#74A0B3;
    display:flex;
    


}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%

}


.footerlist{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin:0;
    width:100%;
    padding:0;


}
.footerlist >header{
    text-align: center;
    margin:2%;
    text-decoration: underline;
    
    
}
.footListItems{
    display:none;
}




@media(min-width: 768px){
.webSideBar{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:5px;
    justify-content: space-around;
    

}
p{
    margin:5px;

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:auto 10px;

    }
#menu{
    display:none;
}
li{
    display:flex;

}
.sectionTitle{
    display:flex;
    height: 50%;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;

}

    .footListItems{
    display:flex;
    justify-content: center;
    padding:0 5%;
    text-align: center;
}

body{
    font-size: 1.2em;
    
}
.container {
    grid-template-rows: 5% auto 15%;

}
}